.section-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $white;
    .bg-line {
        span {
            background-color: #eeeeee;
        }
    }
}