<div class="section-2">
    <div class="section-title">уралвекторстрой</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="section-2__image">
                    <img src="../../assets/img/section-2-u.png" alt="">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="section-2__content">
                    <h2 class="title-1">3 вида ППР с обоснованием разницы содержания и цены</h2>
                    <div class="section-2__subtitle">Советуем решение, исходя из конкретной ситуации</div>
                    <div class="section-2__list_title">Стоимость ППР зависит от множества факторов:</div>
                    <ul class="section-2__list">
                        <li class="section-2__list_item">
                            <span>01 /</span>
                            цель разработки;
                        </li>
                        <li class="section-2__list_item">
                            <span>02 /</span>
                            размеры объекта;
                        </li>
                        <li class="section-2__list_item">
                            <span>03 /</span>
                            срочность;
                        </li>
                        <li class="section-2__list_item">
                            <span>04 /</span>
                            способ взаиморасчетов;
                        </li>
                        <li class="section-2__list_item">
                            <span>05 /</span>
                            количество и сложность производимых работ;
                        </li>
                        <li class="section-2__list_item">
                            <span>06 /</span>
                            количество инстанций для согласования;
                        </li>
                        <li class="section-2__list_item">
                            <span>07 /</span>
                            наличие или отсутствие исходной документации в
                            редактируемом формате (рабочий проект, смета, образец ППР).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="bg-line">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- /.section-2 -->