<div class="section-2">
    <div class="container">
        <div class="section-2__play">
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="section-2__play_link" >
                <img src="../../assets/img/icons/play.png" alt="">
            </a>
        </div>
        <h2 class="text-center text-white">Видео об услуге</h2>
        <div class="section-2__desc">
            Узнайте, почему стоит обратиться в нашу компанию
            за покупкой б/у  автомобиля. Рассказываем, какие подвобные камни может скрыть владелец.
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->