.section-5 {
  padding: 70px 0 120px;
}

.section-5__services {}

.section-5__services_item {
  position: relative;
  margin-bottom: 30px;
  padding: 65px 50px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.section-5__services_item_title {
  font-family: 'black',sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.section-5__services_item_desc {
  margin-top: 10px;
  font-family: 'medium', sans-serif;
  font-size: 16px;
}

.section-5__services_item_price {
  margin-top: 30px;
  font-family: 'bold',sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-5__services_item_btn {
  margin-top: 30px;
}

.section-5__services_item_link {
  position: relative;
  margin-left: 40px;
  font-family: 'bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #da251e;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-100%) rotate(45deg);
    width: 10px;
    height: 10px;
    border: 1px solid #da251e;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  &:hover {
    color: #da251e;
  }
}



@include media-breakpoint-down(lg) {
  .section-5__services_item {
    height: 300px;
    padding: 30px;
  }
  .section-5__services_item_title {
    font-size: 22px;
  }
  .section-5__services_item_link {
    margin-left: 15px;
  }
  .section-5__services_item_price {
    margin-top: 20px;
  }
  .section-5__services_item_btn {
    position: absolute;
    bottom: 30px;
  }
}

@include media-breakpoint-down(md) {
  .section-5 {
    padding: 70px 0;
  }
}

@include media-breakpoint-down(sm) {
  .section-5__services_item {
    margin-bottom: 15px;
    padding: 30px 15px;
  }
}

@include media-breakpoint-down(xs) {
  .section-5 {
    padding: 50px 0;
  }
}

@media (max-width: 360px) {
  .section-5__services_item_link {
    margin-left: 10px;
    &:after {
      right: -18px;
      width: 8px;
      height: 8px;
    }
  }
}