<div class="section-6">
    <div class="container">
        <h2 class="text-center text-white">Отзывы клиентов</h2>
        <div class="slider-container">
            <div class="section-6__slider">
                <div class="section-6__slider_item">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <div class="section-6__slider_item_img">
                                <img src="../../assets/img/section-6__img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="section-6__slider_item_content">
                                <div class="section-6__slider_item_content_head">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="section-6__slider_item_content_head_img">
                                                <img src="../../assets/img/section-6__icon-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="section-6__slider_item_content_head_name">Александр</div>
                                            <div class="section-6__slider_item_content_head_info">
                                                <span>Honda Velez</span>
                                                <span>|</span>
                                                <span>2014 г.</span>
                                                <span>|</span>
                                                <span>243 342 Р</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-6__slider_item_content_text">
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                </div>
                                <a href="/" class="section-6__slider_item_content_link">Читать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-6__slider_item">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <div class="section-6__slider_item_img">
                                <img src="../../assets/img/section-6__img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="section-6__slider_item_content">
                                <div class="section-6__slider_item_content_head">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="section-6__slider_item_content_head_img">
                                                <img src="../../assets/img/section-6__icon-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="section-6__slider_item_content_head_name">Андрей</div>
                                            <div class="section-6__slider_item_content_head_info">
                                                <span>Honda Velez</span>
                                                <span>|</span>
                                                <span>2014 г.</span>
                                                <span>|</span>
                                                <span>243 342 Р</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-6__slider_item_content_text">
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                </div>
                                <a href="/" class="section-6__slider_item_content_link">Читать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-6__slider_item">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <div class="section-6__slider_item_img">
                                <img src="../../assets/img/section-6__img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="section-6__slider_item_content">
                                <div class="section-6__slider_item_content_head">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="section-6__slider_item_content_head_img">
                                                <img src="../../assets/img/section-6__icon-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="section-6__slider_item_content_head_name">Александр</div>
                                            <div class="section-6__slider_item_content_head_info">
                                                <span>Honda Velez</span>
                                                <span>|</span>
                                                <span>2014 г.</span>
                                                <span>|</span>
                                                <span>243 342 Р</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-6__slider_item_content_text">
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                </div>
                                <a href="/" class="section-6__slider_item_content_link">Читать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-6__slider_item">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <div class="section-6__slider_item_img">
                                <img src="../../assets/img/section-6__img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="section-6__slider_item_content">
                                <div class="section-6__slider_item_content_head">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="section-6__slider_item_content_head_img">
                                                <img src="../../assets/img/section-6__icon-1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="section-6__slider_item_content_head_name">Андрей</div>
                                            <div class="section-6__slider_item_content_head_info">
                                                <span>Honda Velez</span>
                                                <span>|</span>
                                                <span>2014 г.</span>
                                                <span>|</span>
                                                <span>243 342 Р</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-6__slider_item_content_text">
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                    После выходных я перезвонил в СферуКар и мне заявили, что не будут больше принимать
                                    заявки на а/м, в связи с окончанием срока действия временной процедуры установки ГЛОНАС,
                                    с целью исключения риска невыполнения своих обязательств перед клиентами, о чем было
                                    потом дополнительно подтверждено Сергеем в видео-обзоре СфераКар на Ютуб.
                                </div>
                                <a href="/" class="section-6__slider_item_content_link">Читать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-6__slider_nav"></div>
        </div>
        <!-- /.section-6__slider -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-6 -->