.section-4 {
  padding: 70px 0;
}

.section-4__services {}

.section-4__services_item {
  position: relative;
  margin-bottom: 30px;
  padding: 65px 50px;
  overflow: hidden;
  &:hover {
    .section-4__services_item_img {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.section-4__services_item_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: auto;
    height: 100%;
    transition: .5s;
  }
}

.section-4__services_item_content {
  position: relative;
  height: 100%;
}

.section-4__services_item_title {
  font-family: 'black',sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: $white;
}

.section-4__services_item_desc {
  margin-top: 10px;
  font-size: 16px;
  color: $white;
}

.section-4__services_item_price {
  margin-top: 30px;
  font-family: 'bold',sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;
}

.section-4__services_item_btn {
  margin-top: 30px;
}

.section-4__services_item_link {
  position: relative;
  margin-left: 40px;
  font-family: 'bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: $white;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-100%) rotate(45deg);
    width: 10px;
    height: 10px;
    border: 1px solid #da251e;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  &:hover {
    color: $white;
  }
}



@include media-breakpoint-down(lg) {
  .section-4__services_item {
    padding: 30px;
    height: 300px;
  }
  .section-4__services_item_title {
    font-size: 22px;
  }
  .section-4__services_item_link {
    margin-left: 15px;
  }
  .section-4__services_item_price {
    margin-top: 20px;
  }
  .section-4__services_item_btn {
    position: absolute;
    bottom: 0;
  }
}

@include media-breakpoint-down(md) {
  .section-4 {
    padding: 0;
  }
}

@include media-breakpoint-down(sm) {
  .section-4__services_item {
    margin-bottom: 15px;
    padding: 30px 15px;
  }
  .section-4__services_item_img {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@include media-breakpoint-down(xs) {
  .section-4__services_item_img {
    img {
      width: auto;
      height: 100%;
    }
  }
}

@media (max-width: 360px) {
  .section-4__services_item_link {
    margin-left: 10px;
    &:after {
      right: -18px;
      width: 8px;
      height: 8px;
    }
  }
}