<div class="section-4">
    <div class="container">
        <h2 class="text-center">Наши услуги</h2>
        <div class="section-4__services row">
            <div class="col-md-6">
                <div class="section-4__services_item">
                <div class="section-4__services_item_img">
                    <img src="../../assets/img/section-4__img-1.jpg" alt="">
                </div>
                <div class="section-4__services_item_content">
                    <div class="section-4__services_item_title">подбор автомобиля</div>
                    <div class="section-4__services_item_desc">
                        Купите хороший автомобиль без затрат времени
                    </div>
                    <div class="section-4__services_item_price">от 20 000 ₽</div>
                    <div class="section-4__services_item_btn">
                        <button class="wtb_bordered">ЗАказать </button>
                        <a href="/" class="section-4__services_item_link">подробнее</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="section-4__services_item">
                <div class="section-4__services_item_img">
                    <img src="../../assets/img/section-4__img-2.jpg" alt="">
                </div>
                <div class="section-4__services_item_content">
                    <div class="section-4__services_item_title">полная проверка авто</div>
                    <div class="section-4__services_item_desc">
                        Купите хороший автомобиль без затрат времени
                    </div>
                    <div class="section-4__services_item_price">от 20 000 ₽</div>
                    <div class="section-4__services_item_btn">
                        <button class="wtb_bordered">ЗАказать </button>
                        <a href="/" class="section-4__services_item_link">подробнее</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="section-4__services_item">
                <div class="section-4__services_item_img">
                    <img src="../../assets/img/section-4__img-3.jpg" alt="">
                </div>
                <div class="section-4__services_item_content">
                    <div class="section-4__services_item_title">Выездная проверка</div>
                    <div class="section-4__services_item_desc">
                        Купите хороший автомобиль без затрат времени
                    </div>
                    <div class="section-4__services_item_price">от 20 000 ₽</div>
                    <div class="section-4__services_item_btn">
                        <button class="wtb_bordered">ЗАказать </button>
                        <a href="/" class="section-4__services_item_link">подробнее</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="section-4__services_item">
                <div class="section-4__services_item_img">
                    <img src="../../assets/img/section-4__img-4.jpg" alt="">
                </div>
                <div class="section-4__services_item_content">
                    <div class="section-4__services_item_title">дистанционная покупка</div>
                    <div class="section-4__services_item_desc">
                        Купите хороший автомобиль без затрат времени
                    </div>
                    <div class="section-4__services_item_price">от 20 000 ₽</div>
                    <div class="section-4__services_item_btn">
                        <button class="wtb_bordered">ЗАказать </button>
                        <a href="/" class="section-4__services_item_link">подробнее</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- /.section-4__services -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->