<div class="section-3">
    <div class="container">
        <h2 class="text-center">Что мы проверяем</h2>
        <div class="subtitle text-center">
            Мы тчательно подходим к проверке каждого автомобиля и как будто видим автомобиль насквозь
        </div>
        <div class="section-3__slider">
            <div class="section-3__slider_top">
                <img src="../../assets/img/car-1.png" alt="">
                <img src="../../assets/img/car-2.png" alt="">
                <img src="../../assets/img/car-3.png" alt="">
                <img src="../../assets/img/car-4.png" alt="">
                <img src="../../assets/img/car-5.png" alt="">
                <img src="../../assets/img/car-6.png" alt="">
                <img src="../../assets/img/car-7.png" alt="">
                <img src="../../assets/img/car-8.png" alt="">
                <img src="../../assets/img/car-9.png" alt="">
                <img src="../../assets/img/car-10.png" alt="">
                <img src="../../assets/img/car-11.png" alt="">
            </div>
            <!-- /.section-3__slider_top -->
            <div class="section-3__slider_bot">
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-1.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Двигатель</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-2.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Тормозная система</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-3.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Салон</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-4.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Сцепление и трансмиссия</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-5.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Система безопасности</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-6.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Топливный насос</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-7.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Салонная электрика</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-8.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Кузов</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-9.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Электронные системы</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-10.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Юридические данные</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
                <div class="section-3__slider_bot_slide">
                    <div class="section-3__slider_bot_slide_icon">
                        <img src="../../assets/img/icons/icon-car-11.png" alt="">
                    </div>
                    <div class="section-3__slider_bot_slide_title">Тест драйв</div>
                    <div class="section-3__slider_bot_slide_desc">
                        Важнейшая деталь вашего автомобиля, требующая особого подхода. В проверке мы используем 5 видов
                        оборудования, чтобы узнать всё о сердце вашего автомобиля.
                    </div>
                    <div class="section-3__slider_bot_slide_btn">
                        <button class="redb">Оставить заявку</button>
                    </div>
                </div>
            </div>
            <!-- /.section-3__slider_bot -->
        </div>
        <!-- /.section-3__slider -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->