.section-3 {
  padding: 120px 0 25px;
}

.section-3__slider {
  margin-top: 60px;
}

.section-3__slider_top {
  text-align: center;
}

.section-3__slider_bot {
  padding: 45px 0;
  overflow: hidden;
  .slick-list {
    overflow: visible;
  }

  .slick-center {
    .section-3__slider_bot_slide {
      display: block !important;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      padding: 40px 50px 60px;
      box-shadow: 0 10px 21px rgba(144, 144, 144, 0.14), 0 0 100px rgba(0, 0, 0, 0.02);
    }

    .section-3__slider_bot_slide_icon {
      width: 70px;
      filter: none;
    }

    .section-3__slider_bot_slide_title {
      margin-top: 30px;
      font-size: 18px;
      color: #e90000;
    }

    .section-3__slider_bot_slide_desc {
      display: inline-block;
    }

    .section-3__slider_bot_slide_btn {
      display: inline-block;
    }
  }
}

.section-3__slider_bot_slide {
  padding: 40px 20px 20px;
  text-align: center;
}

.section-3__slider_bot_slide_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 70px;
  margin: 0 auto;
  filter: grayscale(1) opacity(0.4);
}

.section-3__slider_bot_slide_title {
  margin-top: 20px;
  font-family: 'bold', sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, .4);
}

.section-3__slider_bot_slide_desc {
  display: none;
  margin-top: 15px;
  font-size: 12px;
}

.section-3__slider_bot_slide_btn {
  display: none;
  margin-top: 30px;
}


@include media-breakpoint-down(md) {
  .section-3 {
    padding-top: 70px;
  }
}

@include media-breakpoint-down(xs) {
  .section-3 {
    padding: 45px 0 15px;
    overflow: hidden;
  }
  .section-3__slider_bot {
    padding: 35px 0;
    overflow: visible;
    .slick-center {
      .section-3__slider_bot_slide {
        padding: 40px 30px 45px;
      }
      .section-3__slider_bot_slide_btn {
        display: block;
      }
    }
    .slick-prev {
      top: 60px;
      transform: translate(-190px,100%);
    }
    .slick-next {
      top: 60px;
      transform: translate(190px,100%);
    }
  }
}

@media (max-width: 400px) {
  .section-3__slider_bot {
    .slick-prev {
      left: -15px;
      transform: translate(0,100%);
    }
    .slick-next {
      right: -15px;
      transform: translate(0,100%);
    }
  }
}