h2 {
  margin-bottom: 50px;
  font-size: 44px;
  color: #000;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-family: 'black', sans-serif;
}

@include media-breakpoint-down(md) {
  h2 {
    font-size: 40px;
  }
}

@include media-breakpoint-down(sm) {
  h2 {
    font-size: 27px;
  }
}

@include media-breakpoint-down(xs) {
  h2 {
    margin-bottom: 35px;
  }
}