$white: #ffffff !default;
$black: #000000 !default;
$main:  #4d67aa !default;

$colors: () !default;
$colors: map-merge(
				(
						"white": $white,
						"black": $black,
						"main": $main,
				),
				$colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
				(
						"white": $white,
						"black": $black,
						"main": $main,
				),
				$theme-colors
);