$white: #ffffff !default;
$black: #000000 !default;

$colors: () !default;
$colors: map-merge(
				(
						"white": $white,
						"black": $black,
				),
				$colors
);

$theme-colors: () !default;
$theme-colors: map-merge(
				(
						"white": $white,
						"black": $black,
				),
				$theme-colors
);