<div class="section-1">
    <div class="container">
        <h2 class="text-center">Почему именно мы</h2>
        <div class="subtitle text-center">Немного о том, как мы работаем и почему стоит выбрать именно нас.</div>
        <div class="section-1__slider row no-gutters">
            <div class="section-1__slider__counter"></div>
            <div class="col-xl-7">
                <div class="section-1__slider_card row no-gutters">
                    <a href="#section1Slide1" class="section-1__slider_card_item active col-xl-6">
                        <div class="box">
                            <div class="section-1__slider_card_item_icon">
                                <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 512 512" xml:space="preserve">
<path d="M331.9,333.8L294,265.5c-14-25-41.4-40.5-71.7-40.5h-92.7c-30.2,0-57.7,15.5-71.7,40.5l-37.6,67.7c-0.4,0.7-0.7,1.4-1,2.1
	C7.3,348.2,0,365.1,0,383.5V492c0,11,9,20,20,20h52.9c11,0,20-9,20-20v-10h166.2v10c0,11,9,20,20,20H332c11,0,20-9,20-20V383
	c0-18.1-7-35.1-19.8-48.4C332.1,334.3,332,334.1,331.9,333.8z M129.6,265h92.7c15.6,0,30,7.9,36.8,20l13.9,25H79l13.9-25
	C99.7,272.9,114.1,265,129.6,265z M312,442h-72.8l-17.9-24.7c-3.8-5.2-9.8-8.3-16.2-8.3h-57.4c-6.6,0-12.8,3.3-16.5,8.7L114.5,442
	H40v-58.5C40,365,57.4,350,78.8,350h194.3c21.4,0,38.8,14.8,38.8,33V442z M285,397c0,11-9,20-20,20s-20-9-20-20s9-20,20-20
	S285,386,285,397z M106,397c0,11-9,20-20,20s-20-9-20-20s9-20,20-20S106,386,106,397z M40,191v-32.5c0-18.4,7.3-35.2,19.3-48.1
	c0.3-0.7,0.6-1.4,1-2.1l37.6-67.7c14-25,41.5-40.5,71.7-40.5h92.7c20.4,0,39.3,6.2,53.2,17.4c8.6,6.9,10,19.5,3,28.1
	c-6.9,8.6-19.5,10-28.1,3.1c-6.9-5.5-16.9-8.6-28.1-8.6h-92.7c-15.6,0-30,7.9-36.8,20L119,85h49c11,0,20,9,20,20s-9,20-20,20h-49.2
	C97.4,125,80,140,80,158.5V191c0,11-9,20-20,20S40,202,40,191z M126,152c11,0,20,9,20,20s-9,20-20,20s-20-9-20-20S115,152,126,152z
	 M425,280c-11,0-20-9-20-20c0-11,9-20,20-20s20,9,20,20C445,271,436,280,425,280z M512,241v119c0,11-9,20-20,20h-52.9
	c-11,0-20-9-20-20v-10H396c-11,0-20-9-20-20s9-20,20-20h76v-67c0-18.2-17.4-33-38.8-33H291c-11.1,0-20-9-20-20c0-11,9-20,20-20h142
	l-13.9-25c-6.8-12.1-21.2-20-36.8-20h-92.7c-15.6,0-30,7.9-36.8,20l-14.2,26c-5.6,9-10.6,14-19.9,14c-15.2,0-24.1-16.3-16.7-29.6
	l15.9-29.9c14-25,41.5-40.5,71.7-40.5h92.7c30.3,0,57.8,15.5,71.7,40.5l37.8,68.3c0.1,0.2,0.2,0.5,0.3,0.7
	c11.8,12.3,18.6,27.6,19.6,44.2C511.9,239.5,512,240.2,512,241z"/>
</svg>
                            </div>
                            <div class="section-1__slider_card_item_title">Большой опыт работы</div>
                        </div>
                    </a>
                    <a href="#section1Slide2" class="section-1__slider_card_item col-xl-6">
                        <div class="box">
                            <div class="section-1__slider_card_item_icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 490.7 490.7" xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M349.8,265.5l27.2,54.5h-315l42.7-85.3h136.1V192H78.4L6.3,336.3V448h42.7c0,23.6,19.1,42.7,42.7,42.7
                                                    s42.7-19.1,42.7-42.7h170.7c0,23.6,19.1,42.7,42.7,42.7s42.7-19.1,42.7-42.7h42.7V336.3L388,246.5L349.8,265.5z M112.9,405.3h-64
                                                    v-42.7h64V405.3z M283.6,405.3h-128v-42.7h128V405.3z M390.3,405.3h-64v-42.7h64V405.3z"/>
                                                <path d="M415.1,165.4c11.2-16.9,17.8-37,17.8-58.7C432.9,47.9,385.1,0,326.3,0S219.6,47.9,219.6,106.7s47.9,106.7,106.7,106.7
                                                    c21.7,0,41.9-6.6,58.7-17.8l69.3,69.3l30.2-30.2L415.1,165.4z M326.3,170.7c-35.3,0-64-28.7-64-64s28.7-64,64-64s64,28.7,64,64
                                                    S361.5,170.7,326.3,170.7z"/>
                                            </g>
                                        </g>
                                    </g>
                                    </svg>
                            </div>
                            <div class="section-1__slider_card_item_title">Лучшая команда</div>
                        </div>
                    </a>
                    <a href="#section1Slide3" class="section-1__slider_card_item col-xl-6">
                        <div class="box">
                            <div class="section-1__slider_card_item_icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 485 485" xml:space="preserve">
                                    <g>
                                        <rect x="85.3" y="192.5" width="200" height="30"/>
                                        <polygon points="322.8,367.7 285.2,330.1 264,351.3 322.8,410.1 400.1,332.9 378.9,311.6 	"/>
                                        <path d="M350.3,227V108.8L241.5,0H20.3v445h221.5c23.6,24.6,56.8,40,93.5,40c71.4,0,129.4-58.1,129.4-129.4
                                            C464.7,289.3,414.6,234.5,350.3,227z M250.3,51.2l48.8,48.8h-48.8L250.3,51.2L250.3,51.2z M50.3,415V30h170v100h100v97
                                            c-28.9,3.4-54.9,16.3-74.8,35.5H85.3v30h137c-6.9,12.2-11.8,25.7-14.4,40H85.3v30H206c1,18.8,6,36.6,14.3,52.5H50.3z M335.3,455
                                            c-54.8,0-99.4-44.6-99.4-99.4s44.6-99.4,99.4-99.4s99.4,44.6,99.4,99.4S390.1,455,335.3,455z"/>
                                    </g>
                                </svg>
                            </div>
                            <div class="section-1__slider_card_item_title">Гарантии покупки</div>
                        </div>
                    </a>
                    <a href="#section1Slide4" class="section-1__slider_card_item col-xl-6">
                        <div class="box">
                            <div class="section-1__slider_card_item_icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 441.7 441.7" xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M354,216.1l16.8,33.7h-315l42.7-85.3h114.8v-42.7H72.1L0,266v111.7h42.7c0,23.6,19.1,42.7,42.7,42.7s42.7-19.1,42.7-42.7
                                                    h170.7c0,23.6,19.1,42.7,42.7,42.7s42.7-19.1,42.7-42.7h42.7V266l-34.5-69L354,216.1z M106.7,335.1h-64v-42.7h64V335.1z
                                                     M277.3,335.1h-128v-42.7h128V335.1z M384,335.1h-64v-42.7h64V335.1z"/>
                                                <polygon points="441.7,51.5 411.6,21.3 320,112.9 271.1,64 240.9,94.2 320,173.2 			"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="section-1__slider_card_item_title">Полная проверка авто</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="section-1__slider_img">
                    <div id="section1Slide1" class="section-1__slider_img_item active">
                        <img src="../../assets/img/section-2-team.jpg" alt="">
                        <div class="section-1__slider_img_desc">
                            Большой опыт работы <br>
                            в автомобильной сфере
                        </div>
                    </div>
                    <div id="section1Slide2" class="section-1__slider_img_item">
                        <img src="../../assets/img/section-2-team.jpg" alt="">
                        <div class="section-1__slider_img_desc">
                            Лучшая команда
                        </div>
                    </div>
                    <div id="section1Slide3" class="section-1__slider_img_item">
                        <img src="../../assets/img/section-2-team.jpg" alt="">
                        <div class="section-1__slider_img_desc">
                            Гарантии покупки
                        </div>
                    </div>
                    <div id="section1Slide4" class="section-1__slider_img_item">
                        <img src="../../assets/img/section-2-team.jpg" alt="">
                        <div class="section-1__slider_img_desc">
                            Полная проверка авто
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.section-1 -->