<div class="section-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <h1 class="title-1 text-white">
                    Разработка ППР под Ваши сроки в Городе
                </h1>
                <div class="section-1__subtitle pr-xl-5">
                    Компания, выполняющая заказы Газпрома, Ленты, ЧТЗ и других: 450+ проектов в портфолио, согласование с 1 раза в 99% случаев.
                </div>
                <div class="section-1__btn">
                    <button class="btn-1">Оставить заявку</button>
                    <div class="line"></div>
                    <div class="section-1__btn_text">и получить точный расчет через 15 мин.</div>
                </div>
            </div>
            <div class="col-xl-6 content-center">
                <a href="/" class="play">
                    <img src="../../assets/img/icons/play.svg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="bg-line">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- /.section-1 -->